<!DOCTYPE html>
<html lang="ko">
  <head>
    <%-include('include/head')%>
    <title><%= title %></title>
  </head>
  <body>
    <!-- ν—¤λ” -->
    <%- include('include/header') %>

    <!-- λ©”μΈ -->
    <main class="max-container">
      <br />
      <h1>μ—¬κΈ°λ” λ©”μΈνμ΄μ§€π΅</h1>
    </main>

    <!-- footer -->
    <%- include('include/footer', { title: 'test' })%>
  </body>
</html>
