<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"
      integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <form name="form-login">
      <label> 아이디<input type="text" name="userId" /></label>
      <label> 비밀번호<input type="password" name="password" /></label>
      <button type="button" onclick="handleLogin()">로그인</button>
    </form>

    <button type="button" onclick="handleLogout()">로그아웃</button>
    <a href="/auth/kakao">카카오 로그인</a>
    <a href="/auth/kakao/logout">카카오 로그아웃</a>
    <a
      href="https://kauth.kakao.com/oauth/logout?client_id=d0122c325e9c3fb51db7ab5b5a177fb8&logout_redirect_uri=http://localhost:8080/auth/kakao/logout"
      >로그아웃2</a
    >
    <script>
      function handleLogin() {
        const form = document.forms['form-login'];
        const id = form.userId.value;
        const pw = form.password.value;
        console.log(id, pw);
        axios({
          method: 'post',
          url: '/auth',
          data: {
            userId: id,
            password: pw,
          },
        }).then((res) => console.log(res.data));
      }
      function handleLogout() {
        axios({ method: 'delete', url: '/auth' }).then((res) =>
          console.log(res.data)
        );
      }
    </script>
  </body>
</html>
