<head>
  <%- include('include/head') %>
  <title><%= title %></title>
</head>
<body>
  <%- include('include/header') %>
  <br />
  <main class="max-container">
    <h1>구매 목록 페이지</h1>
    <p>구매내역을 확인 하세요!</p>
  </main>
</body>
