<head>
  <%- include('include/head') %>
  <title><%= title %></title>
</head>
<body>
  <%- include('include/header') %>
  <br />
  <main class="max-container">
    <h1>구매 페이지</h1>
    <p>공동 구매를 진행해보세요!</p>
  </main>
</body>
