<head>
  <%- include('include/head') %>
  <title><%#= title %></title>
  <!-- (todo)public/css 분리 예정 -->
  <style>
    /* 상품 카테고리 필터 */
    .categoryFilter {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 30px 0;
    }

    .filterBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease, color 0.3s;
    }

    .filterBtn img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
      transition: transform 0.3s;
    }

    .filterBtn.clotehs img {
      background-color: lightblue;
      border-radius: 50%;
      padding: 5px;
    }

    .filterBtn.foods img {
      background-color: #ededed;
      border-radius: 50%;
      padding: 5px;
    }

    .filterBtn span {
      font-size: 14px;
      color: var(--color-text);
    }

    .filterBtn.active img {
      border: 2px solid var(--color-primary);
      transform: scale(1.1);
    }

    .filterBtn.active span {
      font-weight: bold;
      /* color: var(--color-primary); */
    }

    .filterBtn:hover img {
      transform: scale(1.1);
    }
    /* 상품 목록 */
    .productGrid {
      display: flex;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 30px;
      flex-wrap: wrap;
      margin: 0 30px;
    }
    .productCard {
      background-color: var(--color-white);
      border-radius: 9px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      position: relative;
      text-align: center;
      padding: 20px;
    }
    .productCard img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 20px;
      border-radius: 9px;
    }

    .productDetails {
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    .productName {
      font-size: 18px;
      margin: 10px 0;
      color: var(--color-text);
    }

    .productPrice {
      font-size: 16px;
      font-weight: bold;
      color: var(--color-text);
      margin: 10px 0;
    }

    /* 찜(wishlist) 임시 스타일 */
    .addWishBtn {
      background-color: var(--color-secondary);
    }
    .addWishBtn:hover {
      filter: brightness(0.9);
    }
  </style>
</head>
<body>
  <%- include('include/header') %>
  <br />
  <main class="max-container">
    <!-- 카테고리 필터 -->
    <!-- 1 식품/ 2 전자기기/ 3 도서-->
    <ul class="categoryFilter">
      <li>
        <button class="filterBtn active" data-category="all">
          <img src="/public/img/filter-all.png" alt="전체" />
          <span>전체</span>
        </button>
      </li>
      <!-- (todo) 필터 버튼 이미지 교체하기 -->
      <li>
        <button class="filterBtn foods" data-category="1">
          <img src="/public/img/filter-books.png" alt="식품" />
          <span>식품</span>
        </button>
      </li>
      <li>
        <button class="filterBtn" data-category="2">
          <img src="/public/img/filter-electronics.png" alt="전자기기" />
          <span>전자기기</span>
        </button>
      </li>
      <li>
        <button class="filterBtn clothes" data-category="3">
          <img src="/public/img/filter-clothes.png" alt="도서" />
          <span>도서</span>
        </button>
      </li>
    </ul>

    <!-- 상품 목록 -->
    <div class="productGrid max-container"></div>
  </main>
</body>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const productGrid = document.querySelector('.productGrid');
    const filterButtons = document.querySelectorAll('.filterBtn');

    // 상품 목록 업데이트 함수 (SPA)
    const updateProductGrid = (products) => {
      productGrid.innerHTML = '';
      if (Array.isArray(products) && products.length > 0) {
        products.forEach((product) => {
          const productCard = `
            <div class="productCard">
              <img src="/public/img/${product.image}" alt="${product.name}" />
              <div class="productDetails">
                <div>${product.name}</div>
                <div>${product.price}원</div>
              </div>
            </div>`;
          productGrid.innerHTML += productCard;
        });
      } else {
        productGrid.innerHTML = '<p>등록된 상품이 없습니다.</p>';
      }
    };

    // 전체 상품 가져오기
    const getAllProducts = async () => {
      try {
        const res = await axios.get('/products/all');
        updateProductGrid(res.data);
      } catch (err) {
        console.error('전체 상품 데이터 오류:', err);
      }
    };

    // 카테고리별 상품 가져오기
    const getItemsByCategory = async (categoryId) => {
      try {
        const res = await axios.get(`/products/${categoryId}`);
        console.log('뷰 카테고리 상품 데이터:', res.data);
        updateProductGrid(res.data);
      } catch (err) {
        console.error('카테고리 상품 데이터 오류:', err);
      }
    };

    // 필터 버튼 이벤트 리스너
    filterButtons.forEach((button) => {
      button.addEventListener('click', () => {
        // 모든 버튼 활성화 상태 초기화
        filterButtons.forEach((btn) => btn.classList.remove('active'));
        button.classList.add('active');

        const categoryId = button.dataset.category;

        if (categoryId === 'all') {
          //URL 변경 API : history.pushState(state, title, url)
          history.pushState(null, '', '/products/all');
          getAllProducts();
        } else {
          history.pushState(null, '', `/products/${categoryId}`);
          getItemsByCategory(categoryId);
        }
      });
    });

    // 초기화: 전체 상품 가져오기
    getAllProducts();
  });

  // (todo) 찜 목록
</script>
