<head>
  <%- include('include/head') %>
  <title><%= title %></title>
</head>
<body>
  <%- include('include/header') %>
  <br />
  <main class="max-container">
    <h1>판매 페이지</h1>
    <p>상품을 등록하고 판매를 시작하세요!</p>
  </main>
</body>
