@import url(/public/css/common.css);
.footer {
  background-color: var(--color-primary-light);
}

li {
  display: flex;
}

#q {
  width: 150px;
  height: auto;

  font-size: 15px;
  font-weight: bold;
}

img {
  width: 30px;
  height: 30px;

  padding-right: 2px;
}

.fa-github {
  padding-right: 9px;
}

p {
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
/* teamIcon */
.teamIcon {
  width: 51%;
  height: auto;
  text-align: end;
}

.teamName {
  opacity: 0;
  text-align: center;
  padding-top: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.teamIcon:hover {
  transform: scale(1.2);
  translate: -60px;
  transition: 1s ease 0s;
}

.teamIcon:hover + .teamName {
  opacity: 1;
  transform: translateX(20px);
  transition: 1s ease 0s;
}

/* teamGithub */
.teamGithubIcon {
  width: 51%;
  height: auto;
  text-align: end;
}

.teamGithub {
  opacity: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  /* padding-top: 5px; */
}

.teamGithubIcon:hover {
  transform: scale(1.2);
  translate: -60px;
  transition: 1s ease 0s;
}

.teamGithubIcon:hover + .teamGithub {
  opacity: 1;
  transform: translateX(30px);
  transition: 1s ease 0s;
}

/* teamPlayer */
.teamPlayers {
  width: 52%;
  height: auto;
  text-align: end;
  padding: 0 7px 0 0;
}

.teamPlayersName {
  opacity: 0;
  width: 50%;
  display: flex;
  height: auto;
  font-size: 15px;
}

.teamPlayersName div {
  width: 100px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.teamPlayers:hover {
  transform: scale(1.2);
  translate: -60px;
  transition: 1s ease 0s;
}

.teamPlayers:hover + .teamPlayersName {
  opacity: 1;
  transform: translateX(10px);
  transition: 1s ease 0s;
}
