form {
  min-width: 700px;
  min-height: 200px;
  /* background-color: yellow; */
}
.q {
  border: 5px solid green;
  border-radius: 25px;
  width: 700px;
  height: 350px;
  padding-left: 50px;
  margin-right: 50px;
  /* background-color: pink; */
}

.section.hide {
  display: none;
}

li {
  list-style-type: none;
}

.mybuyProduct {
  border: 1 solid black;
  border-radius: 15px;
  background-color: yellowgreen;
}

.buyBox {
  display: flex;
  justify-content: space-evenly;
}
.sellBox {
  display: flex;
  justify-content: space-evenly;
}

.profileBox {
  width: 500px;
  height: 250px;
}
