:root {
  /* color */
  --main-color: #ff9494;
  --main-pink: #ffd1d1;
  --light-pink: #ffe3e1;
  --text-black: #2e2e2e;
  /* font-size */
  --font-title: 32px;
  /* padding */
  --padding-unit: 8px;
}
