<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/public/css/footer.css" />
  </head>
  <body>
    <footer class="footer">
      <li>
        <div class="teamPlayers">
          <i class="fa-solid fa-star"></i>
        </div>
        <span class="teamPlayersName">
          <div>오성환</div>
          <div>오태원</div>
          <div>이수진</div>
          <div>최수연</div>
          <div>최원정</div>
        </span>
      </li>

      <li>
        <span class="teamIcon">
          <a href="https://github.com/CWJ1222/Cobra_09">
            <img src="/public/img/logo-title.png" alt="cobraIcon" />
          </a>
        </span>
        <span class="teamName" id="q"> Cobra_09 </span>
      </li>
      <li>
        <span class="teamGithubIcon">
          <a href="https://github.com/CWJ1222/Cobra_09">
            <i class="fa-brands fa-github"></i>
          </a>
        </span>
        <span class="teamGithub" id="q"> Cobra_09 Github </span>
      </li>

      <div><p>COPYRIGHT 코브라09 ALL RIGHTS RESERVED.</p></div>
    </footer>
  </body>
</html>
