a<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/asdf.css" />
  </head>
  <body>
    <footer class="footer">
      <li>
        <span class="teamIcon">
          <a href="https://github.com/CWJ1222/Cobra_09">
            <img src="/static/img/cobra_logo.png" alt="cobraIcon" />
          </a>
        </span>
        <span class="teamName" id="q"> Cobra_09 </span>
      </li>
      <li>
        <span class="teamGithubIcon">
          <a href="https://github.com/CWJ1222/Cobra_09">
            <img src="/static/img/github_icon.jpg" alt="gitHubIcon" />
          </a>
        </span>
        <span class="teamGithub" id="q"> TeamGithub </span>
      </li>
      <li>
        <span class="teamPlayers">
          <img id="img" src="/static/img/default.jpg" alt="teamPlayers" />
        </span>
        <span class="teamPlayersName">최원정 오성환 오태원 이수진 최수연</span>
      </li>

      <div><p>COPYRIGHT 코브라09 ALL RIGHTS RESERVED.</p></div>
    </footer>
  </body>
</html>
