<header class="header">
  <div class="header__title">
    <div class="header__logo">
      <!-- (todo) 로고 img폴더 파비콘 생성하기 -->
      <img src="" alt="logo" class="header__logo__img" />
      <h1 class="header__logo__title"><a href="#">코브라09</a></h1>
    </div>
    <div class="header__member">
      <!-- (todo) 로그인 후 마이페이지 버튼으로 변경-->
      <button class="login-button"><a href="/member/signup">로그인/회원가입</a></button>
      <button class="delete-button"><a href="/member/deleteTest">탈퇴</a></button>
    </div>
  </div>
  
  <nav class="header__nav">
    <ul class="header__nav">
      <ul class="header__menu">
        <li><a href="#" class="header__menu__item active">홈</a</li>
        <li><a href="#" class="header__menu__item">구매</a></li>
        <li><a href="#" class="header__menu__item">판매</a></li>
      </ul>
    </ul>

    <div class="header__searchBox">
      <input type="text" placeholder="검색어를 입력해주세요.">
      <!-- (todo) 돋보기 아이콘 넣기 -->
      <button>🔍</button>
    </div>
  </nav>
</header>