<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- SEO -->
<title>코브라09 | 공동 구매 플랫폼</title>
<meta name="description" content="함께 사면 더 큰 혜택, 코브라09" />
<meta name="author" content="Team Cobra(Coding Brainline)" />
<link rel="shortcut icon" href="/public/img/favicon.ico" />

<!-- axios -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"
  integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<!-- fontawsome -->
<script
  src="https://kit.fontawesome.com/837ff3adc1.js"
  crossorigin="anonymous"
></script>

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
  rel="stylesheet"
/>

<!-- CSS -->
<link rel="stylesheet" href="/public/css/common.css" />
<link rel="stylesheet" href="/public/css/header.css" />
